---
import { SITE } from '~/config.mjs';
import { Picture } from '@astrojs/image/components';
import { getSingleton } from '../utils/sanity.ts';
import { urlFor } from '../utils/image.ts';

import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
const { heroSection, missionStatement } = await getSingleton('aboutPage');
---

<Layout {meta}>
  <div class="pointer-events-none h-24" />
  <Content
    isReversed
    image={{
      src: urlFor(heroSection.image).url(),
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tight mb-4 font-heading">
        {heroSection.title}
      </h2>
      {heroSection.description}
      <div class="mt-6">
        <CallToAction text="Careers" href="/contact" />
      </div>
    </Fragment>
  </Content>

  <section class="md:py-20 py-12 text-center bg-teal-50 text-teal-900 relative">
    <div class="container">
    <h2 class="mb-4 font-heading font-bold leading-tighter tracking-tight text-4xl">
      {missionStatement.title}
    </h2>
    <p class="text-teal-700 dark:text-slate-400 text-xl max-w-xl mx-auto">
      {missionStatement.description}
    </p>
    <div class="mt-8">
      <CallToAction text="Book an Appointment" href="/contact" class="btn-primary accent" />
    </div>
    </div>
  </section>
</Layout>
