---
import { SITE } from '~/config.mjs';
import { Picture } from '@astrojs/image/components';
import { getCollection, getSingleton } from '../utils/sanity.ts';
import { urlFor } from '../utils/image.ts';

import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonial from '~/components/widgets/Testimonial.astro';
import BrandCard from '~/components/widgets/BrandCard.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const { heroSection, aboutSection, ctaSection, brandsSection } = await getSingleton('homePage');
const testimonials = await getCollection('testimonial');
---

<Layout {meta}>
  <Hero2
    callToAction2={{ text: 'Call Now', href: '/contact', icon: 'tabler:phone' }}
    image={{ src: import('~/assets/images/teal-woman.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      {heroSection.title}
    </Fragment>

    <Fragment slot="subtitle">
      {heroSection.description}
    </Fragment>
  </Hero2>

  <section class="flex flex-col md:flex-row container mx-auto gap-5 -mt-5 relative">
    {
      testimonials
        .slice(0, 3)
        .map((testimonial) => <Testimonial name={testimonial.name} role={testimonial.role} quote={testimonial.quote} />)
    }
  </section>

  <Content
    isReversed
    image={{
      src: urlFor(aboutSection.image).url(),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tight mb-4 font-heading">
        {aboutSection.title}
      </h2>
      {aboutSection.description}
      <div class="mt-6">
        <CallToAction text="Services" href="/services" icon="tabler:scissors" class="btn-primary" />
      </div>
    </Fragment>
  </Content>

  <section class="md:py-20 py-12 text-center bg-teal-50 text-teal-900 relative">
    <Picture
      class="absolute top-0 left-0 w-full h-full object-cover object-center z-0"
      src={import('~/assets/images/products-bg.png')}
      alt="Products Background"
      sizes="(max-width: 767px) 100vw, (max-width: 1023px) 50vw, 33vw"
      widths={[1800, 2400]}
    />
    <div class="container flex flex-row gap-5 mx-auto overflow-x-auto">
      {brandsSection.brandImages.map((image) => <BrandCard imageUrl={urlFor(image).url()} alt="Brand Logo" />)}
    </div>
    <div class="container max-w-lg mx-auto text-teal-500 flex items-center gap-5 my-10">
      <div class="w-full">
        <hr class="border-teal-500 border-1" />
      </div>
      <div class="whitespace-nowrap">
        <span class="uppercase">And More</span>
      </div>
      <div class="w-full">
        <hr class="border-teal-500 border-1" />
      </div>
    </div>
    <h2 class="mb-4 font-heading font-bold leading-tighter tracking-tight text-4xl">
      {brandsSection.title}
    </h2>
    <p class="text-teal-700 dark:text-slate-400 text-xl max-w-xl mx-auto">
      {brandsSection.description}
    </p>
  </section>

  <section class="bg-gray-800 text-white">
    <div class="container flex flex-col md:flex-row gap-10 mx-auto py-14">
      <div>
        <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
          {ctaSection.firstCTA.title}
        </h3>
        <p class="text-gray-300 text-lg mb-5">
          {ctaSection.firstCTA.description}
        </p>
        <CallToAction text="Call Now" href="/contact" icon="tabler:phone" class="btn-white" />
      </div>
      <div>
        <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">{ctaSection.secondCTA.title}</h3>
        <p class="text-gray-300 text-lg mb-5">
          {ctaSection.secondCTA.description}
        </p>
        <div class="flex justify-start gap-3">
          <CallToAction text="About Us" href="/about" class="btn-white" />
          <CallToAction text="Careers" href="/contact" icon="tabler:phone" class="text-white" />
        </div>
      </div>
    </div>
  </section>
</Layout>
